
    
    {% include "head.html" %} <!-- <head> tag here -->

    <!-- Page Navigation -->
    {% include "navbar.html" %} <!-- NAVBAR -->
    <!-- End Of Page Navigation -->

    <!-- Page Header -->
    {% include "header.html" %} <!-- Festival picture with logo -->
    <!-- End Of Page Header -->

    <!-- Box -->
    {% include "box.html" %}  <!-- 4 small Boxes under the header -->
    <!-- End of Box -->

    <!-- About Section -->
    {% include "about.html" %}    <!-- posters banners -->
    <!-- End of About Section -->

    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-subtitle">Neden Biz ?</h6>
            <h6 class="section-title mb-6">Farkımız</h6>
            <div class="widget mb-4">
                <div class="widget-item">
                    <i class="ti-notepad"></i>
                    <h4>Sınırsız Eğlence</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-layout"></i>
                    <h4>Ücretsiz Ulaşım</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-filter"></i>
                    <h4>Aktiviteler</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-thumb-up"></i>
                    <h4>İkramlar</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of About Sectoin -->
    {% include "pricing.html" %}

    <!-- End of Service Section -->

    <!-- Direction section -->
    {% include "direction.html" %}
    <!-- End of direction section -->


    <!-- Join US Section -->
    <section id="testimonial">
        <div class="container">
            <h6 class="section-subtitle text-center">Kamp ve Etkinlik işlerini seviyor musun ?</h6>
            <h6 class="section-title text-center mb-6">Bize Katıl</h6>
            <form action="{{url_for('home.join_us')}}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial-wrapper">

                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" placeholder="Ad Soyad" name="name"
                                    aria-label="name" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                    aria-describedby="basic-addon2" name="email">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="radio">
                            <h3>Eğitim Durumu</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education"
                                    id="flexRadioDefault1" value="Ilkokul">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    İlkokul
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education"
                                    id="flexRadioDefault2" value="Lise">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Lise
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education"
                                    id="flexRadioDefault3" value="Universite">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Üniversite
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education"
                                    id="flexRadioDefault4" value="Universite Mezunu" checked>
                                <label class="form-check-label" for="flexRadioDefault4">
                                    Üniversite Mezunu
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <h3>Kamp Etkinliğimize Nerden Gördünüz?</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="find_where"
                                    id="flexRadioDefault5" value="Instagram Reklam">
                                <label class="form-check-label" for="flexRadioDefault5">
                                    Instagram Reklam
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="find_where"
                                    id="flexRadioDefault6" value="Instagram Sayfalari">
                                <label class="form-check-label" for="flexRadioDefault6">
                                    Instagram Sayfaları
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="find_where"
                                    id="flexRadioDefault7" value="Arkadas Tavsiyesi">
                                <label class="form-check-label" for="flexRadioDefault7">
                                    Arkadaş Tavsiyesi
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="find_where"
                                    id="flexRadioDefault8" value="Google Reklamlari" checked>
                                <label class="form-check-label" for="flexRadioDefault8">
                                    Google Reklamları
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <h3>Kamp deneyiminiz var mı?</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="experience"
                                    id="flexRadioDefault9" value="Hayir yok ama ilgim var.">
                                <label class="form-check-label" for="flexRadioDefault9">
                                    Hayır yok ama ilgim var.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="experience"
                                    id="flexRadioDefault10" value="Kamp etkinliklerine kailirim.">
                                <label class="form-check-label" for="flexRadioDefault10">
                                    Kamp etkinliklerine katılırım.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="experience"
                                    id="flexRadioDefault11" value="Kamp organizasyonlarinda görev aldim." checked>
                                <label class="form-check-label" for="flexRadioDefault11">
                                    Kamp organizasyonlarında görev aldım.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Gönder</button>
        </div>
        </form>
        </div>
    </section>
    <!-- End of Testimonial Section -->

    <!-- Video Section -->
    <section class="has-bg-img py-lg">
        <div class="container text-center">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary play-control" data-toggle="modal"
                data-target="#exampleModalCenter">
                <i class="ti-control-play"></i>
            </button>
            <h6 class="section-title mt-4">See Our Intro Video</h6>

        </div>
    </section>
    <!-- End of Video Section -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <iframe width="100%" height="600" src="{{ url_for('static', filename='batkar_intro.mp4')}}"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- end of modal -->


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="contact-card">
                <div class="infos">
                    <h6 class="section-subtitle"></h6>
                    <h6 class="section-title mb-4">Bize Ulaş</h6>

                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Telefon 1</h5>
                            <p>+90 538 726 60 00</p>
                            <h5>Telefon 2</h5>
                            <p>+90 553 483 82 33</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email</h5>
                            <p>batkar.fest@gmail.com</p>
                        </div>
                    </div>

                </div>
                <div class="form">
                    <h6 class="section-subtitle">7/24 Hızlı Cevap.</h6>
                    <h6 class="section-title mb-4">Sorularını çekinmeden sor.</h6>
                    <form action="" method="post" >
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email Adresin ..." name="email" required>
                        </div>
                        <div class="form-group">
                            <textarea id="" cols="30" rows="7"
                                class="form-control form-control-lg" name="message" placeholder="Mesajın ..." ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    {% include "footer.html" %}