<div class="box text-center">
    <div class="box-item">

        <h6 class="box-title" style="color: #f7a093; font-weight:bolder;">Gerekli Önlemler</h6>
        <p>
            Kamp alanının yeterince büyük olduğundan sosyal mesafe konusunda sıkıntı yaşanmayacaktır.
            Jandarma ve özel güvenlik görevlileri tarafından 24 Saat Emniyet sağlanacaktır.
        </p>
    </div>
    <div class="box-item">

        <h6 class="box-title" style="color: #f7a093; font-weight:bolder;">Biz Kimiz ?</h6>
        <p>
            BATKAR Karabük ve Çevre illerde 2016'dan itibaren yüzlerce etkinlikler düzenleyen bir topluluktur.
            Daha önceki etkinliklerimize sayfalarımızdan girip bakabilirsiniz.
        </p>
    </div>
    <div class="box-item">

        <h6 class="box-title" style="color: #f7a093; font-weight:bolder;">Kamp Alanı</h6>
        <p>
            Safranbolu Kent Ormanı, 3 gün boyunca kamp etkinliğimize özel olup şehir merkezine çok yakındır.
            Alanda otopark, tuvalet, elektrik ve su devamlı bulunacaktır.
        </p>
    </div>
    <div class="box-item">

        <h6 class="box-title" style="color: #f7a093; font-weight:bolder;">Kamp Ücretleri</h6>
        <p>Kamp Ücretleri her 15 günde bir değişecektir.
            1 - 2 ve 3. Dönem avantajlı bilet satış fiyatlarımıza sayfamızın 'Bilet Al' bölümünden ulaşabilir ve
            kolay bir şekilde
            satın alabilirsiniz.

        </p>
    </div>
</div>