<section id="direction">
    <div class="container">
        <h1 style="text-align: center;">Ulaşım</h1>
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-sm-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.4910218421765!2d32.664071276485124!3d41.27641680287043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409caa88e8635b31%3A0xacdfce3da0cd327b!2sSafranbolu%20Kent%20Orman%C4%B1!5e0!3m2!1sen!2str!4v1682457875842!5m2!1sen!2str"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-5 col-lg-2">
            </div>
            <div class="col-md-5 col-lg-4">

                <p>Karabük içi ücretsiz Ulaşım imkanı sağlıyoruz !!</p>
                <p>Mekan ....</p>
                <p>Saat ....</p>
            </div>

        </div>
    </div>
</section>