<!-- Pricing Section -->
<section id="pricing" class="pricing-content section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h2>Kombine</h2>
            <p>2 Gece 3 gün sınırsız eğlence istiyorsan hiç düşünme.</p>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h1></h1>
                            <h2>Kombine - 1 Kişi</h2>
                            <h1>400 ₺</h1>
                            <span>code:K1</span>
                        </div>
                        <ul>
                            <li>2-3-4 Haziran</li>
                            <li>2 Gece 3 Gün</li>
                            <p>Tek başınıza gelseniz dahi asla yalnız hissetmeyeceğiniz bir festival.</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton1" onclick="openForm1()">Satın Al</button>

                        <div class="form-popup" id="myForm1">
                            <form action="http://127.0.0.1:5000/payment/K1" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm1()">X</button>

                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h2>Kombine - 2 Kişi</h2>
                            <h1 class="price">750 ₺</h1>
                            <span>code:K2</span>
                        </div>
                        <ul>
                            <li>2-3-4 Haziran</li>
                            <li>2 Gece 3 Gün</li>
                            <p>En yakın arkadaşın yada sevgilin belki de bi aile dostu kimin umrunda herkes
                                eğlenmeli.</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton2" onclick="openForm2()">Satın Al</button>

                        <div class="form-popup" id="myForm2">
                            <form action="http://127.0.0.1:5000/payment/K2" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm2()">X</button>

                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h2>Kombine - 4 Kişi</h2>
                            <h1 class="price">1400 ₺</h1>
                            <span>code:K4</span>
                        </div>
                        <ul>
                            <li>2-3-4 Haziran</li>
                            <li>2 Gece 3 Gün</li>
                            <p>Birazcık da biz eğlenebilir miyiz ? 🙂</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton3" onclick="openForm3()">Satın Al</button>

                        <div class="form-popup" id="myForm3">
                            <form action="http://127.0.0.1:5000/payment/K4" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm3()">X</button>
                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->

                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->

    <div class="container">
        <div class="section-title text-center">
            <h2>Günübirlik</h2>
            <p>Ben kalamam ama bir uğrarım diyorsan.</p>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h1></h1>
                            <h2>Günübirlik - 1 Kişi</h2>
                            <h1>150 ₺</h1>
                            <span>code:G1</span>
                        </div>
                        <ul>
                            <p>Evde bunaldmadın mı çık gel hadi.</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton4" onclick="openForm4()">Satın Al</button>

                        <div class="form-popup" id="myForm4">
                            <form action="http://127.0.0.1:5000/payment/G1" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm4()">X</button>

                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h2>Günübirlik - 2 Kişi</h2>
                            <h1 class="price">270 ₺</h1>
                            <span>code:G2</span>
                        </div>
                        <ul>

                            <p>Kanka şöyle bir festival varmış hadi uğrayalım.</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton5" onclick="openForm5()">Satın Al</button>

                        <div class="form-popup" id="myForm5">
                            <form action="http://127.0.0.1:5000/payment/G2" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm5()">X</button>

                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                data-wow-offset="0"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="pricing_design">
                    <div class="single-pricing">
                        <div class="price-head">
                            <h2>Günübirlik - 4 Kişi</h2>
                            <h1 class="price">500 ₺</h1>
                            <span>code:G4</span>
                        </div>
                        <ul>
                            <p>Bi gidelim de beğenirsek kalırız.(Kaldılar)</p>
                        </ul>
                        <div class="pricing-price">

                        </div>
                        <!-- HERE! -->
                        <button class="price_btn" id="opbutton6" onclick="openForm6()">Satın Al</button>

                        <div class="form-popup" id="myForm6">
                            <form action="http://127.0.0.1:5000/payment/G4" class="form-container" method="post">
                                <button type="button" class="btn cancel" onclick="closeForm6()">X</button>

                                <label for="name"><b>Ad</b></label>
                                <input type="text" placeholder="John" name="name" required>
                                <label for="surname"><b>Soyad</b></label>
                                <input type="text" placeholder="Doe" name="surname" required>

                                <label for="email"><b>Email</b></label>
                                <input type="email" placeholder="john.doe@mail.com" name="email" required>

                                <button type="submit" class="price_btn">Satın Al</button>

                            </form>
                        </div>
                        <!-- HERE! -->
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>